;<?noconfig
ConnectionName = ConveyorPlcChannel_04
CONVEYOR_04_TSAP = CBT_PLC_02_2_CSC
CONVEYOR_04_REMOTE_TSAP = CBT_PLC_02_2_CSC

[ConnectionHandler]
PeerAddress = 127.0.0.1
PeerPort = 9000

[ProtocolHandler]
ConnectionId = 4
SendConnectRequest = true
TSAP = ${CONVEYOR_04_TSAP}
RemoteTSAP = ${CONVEYOR_04_REMOTE_TSAP}
