;<?noconfig
ConnectionName = ConveyorPlcChannel_03
CONVEYOR_03_TSAP = CBT_PLC_01_1_CSC
CONVEYOR_03_REMOTE_TSAP = CBT_PLC_01_1_CSC

[ConnectionHandler]
PeerAddress = 192.168.23.2
PeerPort = 102

[ProtocolHandler]
ConnectionId = 3
SendConnectRequest = true
TSAP = ${CONVEYOR_03_TSAP}
RemoteTSAP = ${CONVEYOR_03_REMOTE_TSAP}
